<%= form_for wizard_path(:step7) do |form| %>
  <div>
    <%= form.label :question7, "What is your biggest challenge when planning events?" %>
    <%= form.text_area :question7 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>

<%= link_to "Next", "/wizards/step8" %>
<%= link_to "back", "/wizards/step6" %>