<%= form_for wizard_path(:step4) do |form| %>
  <div>
    <%= form.label :question4, "What tools do you know of that are available for businesses that have a stake in the event business?" %>
    <%= form.text_area :question4 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>

<%= link_to "Next", "/wizards/step5" %>
<%= link_to "back", "/wizards/step3" %>