<%= form_for wizard_path(:step8) do |form| %>
  <div>
    <%= form.label :question8, "Do you currently pay for any event management services? If so, What do you use?" %>
    <%= form.text_area :question8 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>

<%= link_to "Next", "/wizards/step9" %>
<%= link_to "back", "/wizards/step7" %>