<%= form_for wizard_path(:step9) do |form| %>
  <div>
    <%= form.label :question9, "What makes your life easier when you are organizing an event?" %>
    <%= form.text_area :question9 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>

<%= link_to "Next", "/wizards/step10" %>
<%= link_to "back", "/wizards/step8" %>