<%= form_for wizard_path(:step3) do |form| %>
  <div>
    <%= form.label :question3, "What is missing from your experience in your efforts to manage your events?" %>
    <%= form.text_area :question3 %>
  </div>
  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>

<%= link_to "Next", "/wizards/step4" %>
<%= link_to "back", "/wizards/step2" %>