<%= form_for wizard_path(:step12) do |form| %>
  <div>
    <%= form.label :question12, "Additional comments about your vending or event management experience" %>
    <%= form.text_area :question12 %>
  </div>
  <div>
    <%= form.submit "Next" %>
  </div>
<% end %>

<%= link_to "Done!", "/" %>
<%= link_to "back", "/wizards/step11" %>